body{
font-family: 'Georgia', serif;
margin:0;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

/* background */
.guest-bg{
background: linear-gradient(#fdf8f2,#f7efe5);
}

/* card */
.card{
background:#fffaf4;
padding:40px;
width:380px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;
border:1px solid #e9dccd;
padding-right: 60px;
}

/* title */

h1{
color:#8b6f47;
margin-bottom:20px;
}
.plove,.pdate{
font-family:monospace;
color:#8b6f47;
margin-bottom:20px;
font-size: large;
}

/* input */

input, textarea{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:1px solid #ddd;
font-size:16px;
}

/* button */

button{
background:#d8bfa3;
border:none;
padding:12px 25px;
border-radius:20px;
font-size:16px;
color:white;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#c9a885;
}

.screen{
background:#fdf6ee;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

#wishBox{
background:white;
width:500px;
height:350px;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
transition: opacity 0.8s ease;

padding:40px;
border-radius:30px;
text-align:center;

box-shadow:0 20px 40px rgba(0,0,0,0.08),
0 0 40px rgba(255,230,200,0.3);
}

#wishName{
font-size:20px;
color:#b89573;
font-style:italic;
}


#wishMessage{
font-size:36px;
color:#6a4e2e;
margin-bottom:20px;
}

#wishName{
font-size:22px;
color:#a0815e;
}


.couple{
margin-top:30px;
font-size:20px;
color:#8b6f47;
font-weight:600;
letter-spacing:1px;
}

/* wedding date */

.date{
margin-top:5px;
font-size:16px;
color:#a0815e;
}